include ../mixins/header.pug
include ../mixins/body.pug
include ../mixins/password-rules.pug

+header('Authentication', ['selfAsserted.css','hideLabels.css','password-helper.css'], ['password-helper.js',"validate-user-qa.js"])
+renderBody('self_asserted_container collectQuestionAnswer')
+password-rules
