@use 'variables' as vars;

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin button-primary {
  background-color: vars.$button-primary;
  color: white;
  border: none;
  transition: 0.15s ease-out;

  &:hover {
    background-color: vars.$button-hover;
  }
}

@mixin button-secondary {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: 0.15s ease-out;

  &:hover {
    border: 2px solid vars.$button-primary;
    color: vars.$button-primary
  }
}
