#attributeList {
    ul {
        li.Readonly {
            label {
                display: block !important;
            }
        }

        div.date {
            width: 100%;
        }

        li.DateTimeDropdown {
            label {
                display: block !important;
            }

            select {
                pointer-events: none;
                background-color: rgba(239, 239, 239, 0.3)
            }
        }

        li {
            input[type="radio"] {
                pointer-events: none;
                background-color: rgba(239, 239, 239, 0.3);
            }
        }
    }
}